<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.radi.tutorialspointtraining">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_content"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".service.ServiceActivity"
            android:label="@string/title_activity_service" />

        <service android:name=".service.BasicService" />

        <receiver android:name=".receiver.BasicReceiver">
            <intent-filter>
                <action android:name="com.example.radi.tutorialspointtraining.CUSTOM_BROADCAST_INTENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".content_provider.ContentProviderActivity"
            android:label="@string/title_activity_content_provider" />

        <provider
            android:name=".content_provider.StudentProvider"
            android:authorities="com.example.radi.tutorialspointtraining.content_provider.StudentProvider" />

        <activity
            android:name=".intent.IntentActivity"
            android:label="@string/title_activity_intent" />
    </application>

</manifest>